<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773328857906-64uge52jt28cjmttcrg6s94ro1lt17tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773328857906-64uge52jt28cjmttcrg6s94ro1lt17tl</string>
	<key>API_KEY</key>
	<string>AIzaSyBXfP4LIrOmBbX9ZtizSGwNfvin-9mS7UE</string>
	<key>GCM_SENDER_ID</key>
	<string>773328857906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalNuntius</string>
	<key>PROJECT_ID</key>
	<string>final-nuntius</string>
	<key>STORAGE_BUCKET</key>
	<string>final-nuntius.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773328857906:ios:b5608218a1f88bf650c52b</string>
</dict>
</plist>